# Dependency directories
node_modules/
jspm_packages/
web_stage/

# Build outputs
dist/
build/
out/
.next/
.nuxt/
bin/
obj/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS metadata
.DS_Store
Thumbs.db
desktop.ini

# IDE and Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.prod
.env.dev
.env.backend
.env.frontend
*.env

# Python / PyTorch
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis/
.poetry.lock

# Virtual environments
.venv/
venv/
ENV/
env/
active_env/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Deep Learning weights / Large files
*.pth
*.onnx
*.pb
*.h5
*.tflite
*.weights
*.ckpt
*.pt
*.pkl
